<% unless log_entry.new_record? -%>
  <li id="item-<%= log_entry.id %>" class="item row">
    <div class="three columns">
      <%= log_entry.created_at.strftime("%B %d, %Y") %>
    </div>
    <div class="nine columns">
      <%= log_entry.description %>
    </div>
    <div class="four columns">
      <%= link_to 'Complete', [:complete, log_entry], :method => :put,
            :confirm => "Are you sure?", :remote => true %>
      <span class="divider"> | </span>
       <%= link_to 'Remove', log_entry, :method => :delete,
             :confirm => "Are you sure?", :remote => true %>
    </div>
  </li>
<% end -%>

